h1, h2, h3, h4 {
  font-family: 'Quattrocento', serif;
}
body {
  font-family: 'Oxygen', sans-serif;
}

#logo {
  font-family: 'Quattrocento', serif;
  font-size: 72pt;
}

#main{
  max-width: 950px;
  font-size: 18px;
}

#about_block{
  position: fixed;
  margin-right: 20px;
}

#about_block a{
  color: black;
  text-decoration: none;  
}
#about_block a:hover{
  color: black;
  text-decoration: underline;  
}
#about_block a:visited{
  color: #636363;
  text-decoration: none;  
}

.preview {
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
}

#sources{
  font-size: smaller

}

#sources li {
  font-style: italic;
}
