        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='/css/font-awesome.min.css' rel='stylesheet' type='text/css'>        
        <link href="http://fast.fonts.net/cssapi/b7310ad5-5ffb-4ab3-8ec5-7fc0a70e6421.css" type="text/css" rel="stylesheet" />
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" >
        <link href="//code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="stylesheet" />
        <link href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.1/styles/default.min.css" rel="stylesheet" >        
        <link href='/css/main.css' rel='stylesheet' type='text/css'> 
        <link href='/css/visual.css' rel='stylesheet' type='text/css'> 

