<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Nikita's blog</title>
        <meta name="author" content="Nikita Barsukov">
        <meta name="description" content="{{ site.description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='http://fonts.googleapis.com/css?family=Quattrocento' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Oxygen:300&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link href='/css/main.css' rel='stylesheet' type='text/css'> 
        <link href='/css/font-awesome.min.css' rel='stylesheet' type='text/css'>

    </head>
    <body>

  <div id="main" class='container'>
    <div class="row">
      <div class="col-sm-2"> {% include sidebar.html %}</div>
      <div class="col-sm-9">
        {% for post in site.posts %}
            <h1><a href="{{ post.url }}">{{post.title }}</a></h1>
            <p class='info'>{{post.date | date: "%-d %B %Y"}} | {{ post.tags | join: ', ' }}  </p>
            <p>{{post.summary}}</p>
            <hr/>
        {% endfor %}  
      </div>   
    </div>
  </div>
  {% include ga.html %}
  </body>
</html>
