<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Nikita's blog</title>
        <meta name="description" content="{{ site.description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='http://fonts.googleapis.com/css?family=Quattrocento' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=PT+Serif+Caption' rel='stylesheet' type='text/css'>
        <link href='/css/main.css' rel='stylesheet' type='text/css'> 
        <link href='/css/font-awesome.min.css' rel='stylesheet' type='text/css'>

        <style>
          #main{
            width: 700px ;

          }
          .preview {
            border: 1px solid black;
            margin: 5px;
            padding: 5px;
          }
        </style>
    </head>
    <body>

  <div id="main">
    {% include sidebar.html %}
    {% for post in site.posts %}
      <div class="preview">
        <h1>{{post.title }}</h1>
        <p>{{post.summary}}</p>
        <a href="{{ post.url }}">Read more</a>
      </div>
    {% endfor %}
  </div>
  {% include ga.html %}
  </body>
</html>
